{% extends 'base.html' %}
{% block content %}


<div class="card">
    <div class="card-header">
      Ongoining Projects
    </div>
    <div class="container">
    <div class="card-body">
      <h5 class="card-title">Examination Monitoring System</h5>
      <p class="card-text">An Application to manage and update examinations dynamically. Will also include features such as, Dynamic content change, API outsourcing, etc...</p>
      {% comment %} <a href="#" class="btn btn-primary">Know more</a> {% endcomment %}
    </div>
    </div>
  </div>

  <div class="container">
  <div class="card-body">
    <h5 class="card-title">Voice assisstant for ChatGPT </h5>
    <p class="card-text">An Application which supports chatgpt with a voice module to accept and receive responses through voice.</p>
    {% comment %} <a href="#" class="btn btn-primary">Know more</a> {% endcomment %}
  </div>
  </div>
</div>


 
{% endblock %}
